{% extends 'base.html.twig' %}

{% block body %}
	<div>
		<h3>Tipos de Habitaciones</h3>
		<div class="createType">
			<h4>Crear: </h4>
			{{ form_start(form) }}
			<p>
				Nombre
				{{ form_widget(form.tipoHab) }}
			</p>
			<p>
				Precio por Noche / Persona
				{{ form_widget(form.precioBase) }}
				€
			</p>
			{{ form_widget(form.save) }}
			{{ form_end(form) }}
		</div>
		<div>
			<h4>Listado: </h4>
			<div>
				<ul>
				{% for tipo in tipos %}
					<li>{{ tipo.tipohab }}&nbsp;(<b>{{ tipo.preciobase }}&nbsp;€</b>)</li>
				{% endfor %}
				</ul>
			</div>
			<i>* Precio por Persona / Noche.</i>
		</div>
	</div>
	<a href="{{ path('roompage', {'slugHotel': slugHotel}) }}">Volver al Listado de Registros</a>
{% endblock %}